extends layout

block content
  h1= title
  div(class="list-group")
    a(class="list-group-item list-group-item-primary") Result
    table(class="table")
      thead
        th(scope="col") #
        th(scope="col") Latency(ms)
        th(scope="col") Score
      tbody
        -for(var prop in survey)
          tr
            th(scope="row") #
            th(scope="row") #{survey[prop]['ping']}
            th(scope="row") #{survey[prop]['inlineRadioOptions4']}
