doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    body
        div(class="jumbotron text-center")
          h1(class="display-3") Thank You!
          p(class="lead") Please check your email for further instructions on how to participate our survey.

          hr
          p() Having questions? <a href="mailto: zhaoyugao@umass.edu">Contact us</a>

